

* {
	margin: 0px;
	padding: 0px;
}

 @media(max-width: 640px) {
	.header {
		background-image: url(img/football_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.header::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}
	
	.svg-logo {
		display: block;
		position: relative;
		fill: #ffffff;
		width: 135px;
		height: 38px;
		margin-top: 30px;
		margin-bottom: 68px;
		margin-left: auto;
		margin-right: auto;
		z-index: 3;
	}

	.svg-logo:hover {
		color: #2466d3;
	}

	.slogan {
		width: 300px;
		color: #ffffff;
		display: block;
		position: relative;
		z-index: 3;
		margin: 0 auto;


		font-size: 20px;
		text-transform: uppercase;
		font-family: OpenSans Bold,sans-serif,Arial;
	}

	.slogan-title {
		text-align: left;
		
		margin-top: 68px;
		margin-bottom: 15px;

		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 20px;
	}

	 .name-slogan {
	 	display: block;
		margin-left: 60px;
		margin-right: 40px;
		margin-top: 15px;
		margin-bottom: 40px;
	}

	.link-store {
		text-decoration: none;
	}

	.link-store {
		display: flex;
		box-sizing: border-box;
		width: 280px;
		position: relative;
		z-index: 3;

		background-size: 35px 280px;
		background-color: #5e42b0;
		border: 1px solid #5e42b0;
		border-radius: 25px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 75px;
	}
	
	.link-store:nth-child(1) {
		margin-top: 40px;
		margin-bottom: 15px;
	}

	.link-store:nth-child(2) {
		margin-bottom: 80px;
		margin-top: 15px;
	}

	.link-store:hover {
		border: 2px solid #2466d3;
	}

	.store-svg {
		width: 30px;
		height: 30px;
		margin-right: 10px;

		fill: #ffffff;
	}

	.name-store {
		color: #ffffff;
		display: flex;
		justify-content: center;
		padding-right: 80px;
	}
	
	.main-content {
		width: 100%;
		
		margin-top: 25px;
		margin-bottom: 55px;
		}

	.heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
		margin-left: 20px;
		margin-top: 25px;
	}

	.categories-heading {
		display: block;
		position: relative;
		z-index: 3;
		height: 300px;

		background-image: url(img/footballer_192.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top 80px left 70px;
	}

	.athlets {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
		background-color: #fafafa;
		justify-content: flex-start;
		}	

	.athlets-number {
		color: #000000;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
    margin-top: 80px;
	}

	.athlets-number::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #5e42b0;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
		margin-bottom: 13px;
	}

	.athlets-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 23px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-bottom: 10px;
		margin-top: 80px;
	}

	.athlets-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #000000;

		margin-top: 10px;
		margin-left: 45px;
		margin-right: 20px;
		margin-bottom: 55px;
	}

	.collaboration {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		background-color: #f5f4f9;
	}

	.growth {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		background-color: #5e42b0;
	}

	.growth-athlets {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
    margin-top: 80px;
	}

	.growth-athlets::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
		margin-bottom: 13px;
	}

	.growth-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #dedbed;

		margin-top: 10px;
		margin-left: 45px;
		margin-right: 20px;
		margin-bottom: 55px;

	}

	.players-heading {
		display: block;
		position: relative;
		z-index: 3;
		height: 250px;

		background-image: url(img/basketballer_302.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top 80px left 10px;
	}

	.active-img {
		width: 320px;
	}

	.active-block {
		display: block;
		width: 75px;
		height: 75px;
		background-color: #5e42b0;
		text-align: center;
		padding-top: 25px;
	}

	.active-number {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;
	}

	.active-number::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #8f7bc8;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

	.active-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 28px;
		text-transform: uppercase;
		color: #e7e7e7;
		margin-left: 20px;
		margin-bottom: 25px;
		margin-top: 20px;
	}

	.active-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #000000;

		margin-bottom: 80px;
		margin-left: 20px;
		margin-right: 25px;
	}

	.footer {
		background-image: url(img/game_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.footer::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}

	.svg {
		width: 55px;
		height: 50px;
		position: relative;
		z-index: 3;
		fill: #ffffff;
	}

	.footer-svg {
		display: block;
		position: relative;
		z-index: 2;
		background-color: #6a4bc2;
		background-size: 75px 75px;
		background-position: center center;

		margin: auto;
		margin-top: 100px;
	}

  .text {
  	display: flex;
  	flex-wrap: wrap;
  }

  .footer-text {
  	font-family: OpenSana Bold,Arial,sans-serif;
  	font-size: 30px;
  	text-transform: uppercase;
  	color: #ffffff;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  	margin-top: 55px;
  }

  .footer-logo {
  	font-family: OpenSans Regular,Arial,sans-serif;
  	font-size: 14px;
  	color: #8278a7;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  }

   .footer-svg-text {
  	width: 130px;
  	height: 35px;
  	fill: #ffffff;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  	margin-top: 80px;
  	margin-bottom: 15px;
	}
}



		


		

		
		



 
 



	

