

* {
	margin: 0px;
	padding: 0px;
}

 img {
	display: block;
	box-sizing: border-box;
}

 @media(max-width: 640px) {
	.header {
		background-image: url(img/football_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;

		padding-top: 30px;
		padding-bottom: 80px;
	}

	.header::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}
	
	.logo {
		margin-bottom: 68px;
	}

	.svg-logo {
		display: block;
		position: relative;
		fill: #ffffff;
		width: 135px;
		height: 38px;
		
		margin-left: auto;
		margin-right: auto;
		z-index: 3;
	}

	.svg-logo:hover {
		color: #2466d3;
	}

	h1 {
		width: 300px;
		color: #ffffff;
		display: block;
		position: relative;
		z-index: 3;
		margin: auto;
		margin-bottom: 40px;

		font-size: 20px;
		text-transform: uppercase;
		font-family: OpenSans Bold,sans-serif,Arial;
	}

	.slogan-title {
		text-align: left;
		display: block;
		min-width: 215px;
		margin-top: 68px;
		margin-bottom: 15px;
		margin-left: 20px;

		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 20px;
	}

	 .name-slogan {
	 	display: flex;
		margin-left: 60px;
		margin-right: 40px;
		margin-top: 15px;
		
	}

	.link-store {
		text-decoration: none;
	}

	.link-store {
		display: flex;
		box-sizing: border-box;
		width: 280px;
		position: relative;
		z-index: 3;
		margin-left: 20px;

		background-size: 35px 280px;
		background-color: #5e42b0;
		border: 1px solid #5e42b0;
		border-radius: 25px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 75px;
	}

	.store-content {
		margin-top: 40px;
		margin: auto;

	}
	
	.link-store:nth-child(1) {
		margin-bottom: 15px;
	}

	.link-store:hover {
		border: 2px solid #2466d3;
	}

	.store-svg {
		width: 25px;
		height: 25px;
		margin-right: 10px;

		fill: #ffffff;
	}

	.name-store {
		color: #ffffff;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		

		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 8px;
		text-transform: uppercase;
	}

	.store {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 8px;
		text-transform: uppercase;
	}

	.main-content {
		width: 100%;
		
		padding-top: 25px;
		padding-bottom: 55px;
	}

	.heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
		position: relative;
		margin-left: 20px;
	}

	.categories-heading {
		display: block;
		z-index: 0;
		height: 300px;
		}

	.heading::before {
		content: "";
		background-image: url(img/footballer_192.png);
		background-repeat: no-repeat;
		background-position: top center;

		display: flex;
		position: absolute;
		left: 64px;
		padding-top: 20px;
		bottom: -315px;
		width: 190px;
		height: 290px;
		z-index: 5;
		}

	.athlets {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		background-color: #fafafa;
		justify-content: flex-start;
		padding-top: 80px;
		padding-bottom: 55px;
	}	

	.athlets-number {
		color: #000000;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
   
	}

	.athlets-number::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #5e42b0;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

	.athlets-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 23px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-bottom: 10px;
		}

	.athlets-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #000000;

		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.collaboration {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: flex-start;
		background-color: #f5f4f9;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.growth {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: flex-start;
		background-color: #5e42b0;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.growth-athlets {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
   
	}

	.growth-athlets::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

	.growth-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #dedbed;

		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 55px;
	}

	.athlets-players {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		background-color: #fafafa;
		justify-content: flex-start;
		margin-top: -55px;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.players-head {
		display: block;
		z-index: 0;
		height: 320px;
	}

	.play-heading::before {
		content: "";
		background-image: url(img/basketballer_302.png);
		background-repeat: no-repeat;
		background-position: center;

		display: flex;
		position: absolute;
		z-index: 5;
		
		left: -10px;
		bottom: -270px;
		width: 300px;
		height: 250px;
		padding-top: 20px;
	}

	.play-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
		margin-left: 20px;
		margin-top: 20px;
		position: relative;
	}

	.athlets-players {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		background-color: #fafafa;
		justify-content: flex-start;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.players-number {
		color: #000000;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
   }

	.players-number::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #5e42b0;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}
	
	.players-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 23px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-bottom: 10px;
	}

	.players-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #000000;

		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.players-growth {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		justify-content: flex-start;
		background-color: #5e42b0;
		padding-top: 80px;
		padding-bottom: 55px;
	}

	.growth-players {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;

    margin-left: 20px;
    margin-right: 10px;
   }

	.growth-players::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

	.growth-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 23px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-bottom: 10px;
	}

	.growth-text-players {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #dedbed;

		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 55px;
	}
	
	.active-img {
		width: 100%;
	}

	.active-block {
		display: block;
		box-sizing: border-box;
		position: relative;
		z-index: 2;
		width: 75px;
		height: 75px;
		background-color: #5e42b0;
		text-align: center;
		padding-top: 25px;
		margin-top: -55px;
		margin-left: 20px;
	}

	.active-number {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;
	}

	.active-number::after {
		content: "";
		display: block;
		width: 17px;
		height: 5px;
		background-color: #8f7bc8;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

	.active-content {
		padding-top: 20px;
		padding-bottom: 80px;
	}

	.active-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 28px;
		text-transform: uppercase;
		color: #e7e7e7;
		margin-left: 20px;
		margin-bottom: 25px;
	}

	.active-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 15px;
		color: #000000;

		
		margin-left: 20px;
		margin-right: 25px;
	}

	.footer {
		background-image: url(img/game_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;

		padding-top: 100px;
		padding-bottom: 15px;
	}

	.footer::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}

	.footer-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.svg {
		width: 55px;
		height: 40px;
		position: relative;
		z-index: 3;
		fill: #ffffff;
	}

	.footer-svg {
		display: block;
		position: relative;
		z-index: 2;
		background-color: #6a4bc2;
		background-size: 75px 75px;
		background-position: center center;
		border-radius: 25%;
		background: linear-gradient(to top right left bottom, #52389e, #13008c);
		margin: auto;
		}

  .text {
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: column;
  	margin-top: 55px;
  	margin-bottom: 75px;
  }

  .footer-text {
  	font-family: OpenSana Bold,Arial,sans-serif;
  	font-size: 30px;
  	text-transform: uppercase;
  	color: #ffffff;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  }

  .footer-logo {
  	font-family: OpenSans Regular,Arial,sans-serif;
  	font-size: 14px;
  	color: #8278a7;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  }

   .footer-svg-text {
  	width: 130px;
  	height: 35px;
  	fill: #ffffff;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  	margin-top: 80px;
  }
}



@media(min-width: 641px) and (max-width: 960px) {
	.header {
		background-image: url(img/football_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;

		padding-top: 35px;
		padding-bottom: 85px;
	}

	.header::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}

	.logo {
		padding-bottom: 85px;
	}

	.svg-logo {
		display: block;
		position: relative;
		z-index: 3;
		fill: #ffffff;
		width: 135px;
		height: 38px;
	
		margin-left: auto;
		margin-right: auto;
	}

	.svg-logo:hover {
		color: #2466d3;
	}

	h1 {
		display: block;
		box-sizing: border-box;
		position: relative;
		z-index: 3;
		color: #ffffff;
		width: 600px;
		margin: 0 auto;

		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 64px;
		text-transform: uppercase;
	}

	.slogan-title {
		text-align: left;

		font-size: 64px;
		
		margin-top: 85px;
		margin-bottom: 25px;
	}

	.name-slogan {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 64px;
		text-transform: uppercase;

		display: flex;
		margin-left: 100px;
	}

	.link-store {
		text-decoration: none;
	}

	.store-content{
		display: flex;
		flex-wrap: nowrap;
		margin-top: 310px;
		justify-content: space-around;
	}

	.link-store {
		display: flex;
		width: 310px;
		position: relative;
		z-index: 3;
		
	  background-size: 80px 310px;
		background-color: #5e42b0;
		border: 1px solid #5e42b0;
		border-radius: 40px;

		padding-left: 55px;
	}

	.link-store:nth-child(2) {
		margin-left: 35px;
	}
	
	.link-store:hover {
		border: 2px solid #2466d3;
	}

	.store-svg {
		width: 40px;
		height: 5
		40px;
		margin-right: 30px;

		fill: #ffffff;
	}

	.name-store {
		color: #ffffff;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		
		font-family: OpenSans Light,Arial,sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}

	.store {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}

	.categories {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		position: relative;
		padding-top: 80px;
	}

	.categories::before {
		content: "";
		background-image:  url(img/footballer_497.png);
		background-repeat: no-repeat;
			
		display: flex;
		position: absolute;
		z-index: 5;
		width: 500px;
		height: 660px;
		top: 95px;
		left: -160px;
	}

	.heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 80px;
		text-transform: uppercase;
		color: #e7e7e7;

		background-color: #ffffff;
		margin-top: 80px;
		margin-left: 290px;
	}

	.athlets {
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
		padding-bottom: 35px;
	}

	.athlets-number {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 18px;
		color: #000000;

		margin-left: 290px;
	}

	.athlets-number::after {
		content: "";
		display: block;
		width: 18px;
		height: 5px;
		background-color: #5e42b0;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 7px;
		}

	.athlets-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		color: #c1c1c1;
		margin-left: 10px;
	}

	.athlets-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 16px;
		color: #000000;
	
		margin-top: 35px;
		margin-right: 30px;
		margin-left: 290px;
	}

	.collaboration {
		display: flex;
		flex-wrap: wrap;
		background-color: #f5f4f9;
		padding-top: 60px;
		padding-bottom: 35px
	}

	.growth {
		display: flex;
		flex-wrap: wrap;
		background-color: #5e42b0;
		padding-top: 60px;
		padding-bottom: 35px
	}

	.growth-athlets {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 18px;
		color: #8765dd;
		
		margin-left: 290px; 
	}

	.growth-athlets::after {
		content: "";
		display: block;
		width: 18px;
		height: 5px;
		background-color: #efefef;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 7px;
		}

	.growth-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 16px;
		color: #efefef;
		margin-bottom: 35px;
		margin-right: 30px;
		margin-left: 290px;
		margin-top: 35px;
	}

	.players {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;

		padding-top: 80px;

	}	

	.play-heading::before {
		content: "";
		background-image:  url(img/basketballer_436.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		display: flex;
		position: absolute;
		z-index: 5;
		width: 435px;
		height: 565px;
		
		right: 0;
	}

	.play-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 80px;
		text-transform: uppercase;
		color: #e7e7e7;

		background-color: #ffffff;
		margin-left: 30px;
	}

	.athlets-players {
		display: flex;
		flex-wrap: wrap;
	}

	.players-number {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 18px;
		color: #000000;

		margin-top: 60px;
		margin-left: 30px;
	}

	.players-number::after {
		content: "";
		display: block;
		width: 18px;
		height: 5px;
		background-color: #5e42b0;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 7px;
	}
	
	.players-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-top: 60px;
		margin-left: 10px;
	}

	.players-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 16px;
		color: #000000;
		margin-bottom: 30px;
		margin-right: 310px;
		margin-left: 30px;
		margin-top: 30px;
	}

	.players-growth {
		display: flex;
		flex-wrap: wrap;
		background-color: #5e42b0;
	}

	.growth-players {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 18px;
		color: #8765dd;
		margin-top: 60px;
		margin-left: 30px; 
		margin-bottom: 40px;
	}

	.growth-players::after {
		content: "";
		display: block;
		width: 18px;
		height: 5px;
		background-color: #efefef;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 7px;
	}

	.growth-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		color: #c1c1c1;

		margin-top: 60px;
		margin-left: 10px;
	}

	.growth-text-players {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 18px;
		color: #efefef;
		margin-bottom: 30px;
		margin-right: 310px;
		margin-left: 30px;
		margin-top: 30px;
	}

	.active-img {
	 	width: 100%;
	 }

	 .active-block {
		display: block;
		box-sizing: border-box;
		width: 115px;
		height: 115px;
		position: relative;
		z-index: 2;

		background-color: #5e42b0;
		text-align: center;
		padding-top: 40px;
		margin-top: -80px;
		margin-left: 30px;
	}

	.active-number {
		color: #ffffff;
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 24px;
	}

	.active-number::after {
		content: "";
		display: block;
		width: 28px;
		height: 10px;
		background-color: #8f7bc8;
		border-radius: 25%;

		margin-left: auto;
		margin-right: auto;
		margin-top: 8px;
	}

	.active-heading {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 80px;
		text-transform: uppercase;

		margin-left: 30px;
		margin-top: 90px;
		color: #e7e7e7;
	}

	.active-text {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 24px;
		color: #000000;
		margin-left: 30px;
		margin-top: 35px;
		margin-bottom: 95px;
	}

	.footer {
		background-image: url(img/game_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;

		padding-top: 125px;
		padding-bottom: 15px;
	}

	.footer::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}

	.footer-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.svg {
		width: 90px;
		height: 80px;
		position: relative;
		z-index: 3;
		fill: #ffffff;
	}

	.footer-svg {
		display: block;
		position: relative;
		z-index: 2;
		background-color: #6a4bc2;
		background-size: 130px 140px;
		background-position: center center;

		margin: auto;
		margin-bottom: 80px;
		border-radius: 15%;
		padding: 20px;
	}

	.text {
		display:flex;
		flex-wrap: wrap;
	}

	.footer-text {
		font-family: OpenSans Bold,Arial,sans-serif;
		font-size: 80px;
		text-transform: uppercase;
		color: #ffffff;

		position: relative;
		z-index: 3;
		margin: auto;
		margin-top: 80px;
	}

	.footer-logo {
		font-family: OpenSans Regular,Arial,sans-serif;
		font-size: 35px;
		text-transform: uppercase;
		color: #a496ca;

		position: relative;
		z-index: 3;
		margin: auto;
	}

  .footer-svg-text {
  	width: 215px;
  	height: 60px;
  	fill: #ffffff;
  	position: relative;
  	z-index: 3;
  	margin: auto;
  	margin-top: 50px;
  }
}



@media (min-width: 961px) and (max-width: 1920px) {
		.header {
			background-image: url(img/football_1280.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-color: #340f96;
			
			display: flex;
			padding-top: 50px;
			position: relative;
			z-index: 1;
			width: 100%;
		}

		.header::after {
			content: "";
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: #1d2246;
			opacity: 0.9; 
		}

		.logo {
			margin-bottom: 290px;
		}

		.svg-logo {
			display: block;
			position: relative;
			fill: #ffffff;
			width: 135px;
			height: 38px;
			
			margin-left: auto;
			margin-right: auto;
			z-index: 3;
		}

		.svg-logo:hover {
			color: #2466d3;
		}

		h1 {
			display: block;
			position: relative;
			z-index: 3;
			margin: 0 auto;
			
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 90px;
			text-transform: uppercase;
			color: #ffffff;
		}

		.slogan-title {
			display: flex;
			flex-wrap: wrap;
			margin-left: 180px;
		}

		.name-slogan {
			display: flex;
			margin-left: 23%;
		}

		.link-store {
			text-decoration: none;
		}

		.store-content{
			display: flex;
			flex-wrap: nowrap;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.link-store {
			display: flex;
			width: 310px;
			position: relative;
			z-index: 3;
		  margin-top: 220px;
			margin-bottom: 110px;
		

			background-size: 80px 310px;
			background-color: #5e42b0;
			border: 1px solid #5e42b0;
			border-radius: 25px;
		
			margin-left: auto;
			margin-right: auto;
			padding-left: 55px;
		}

		.link-store:nth-child(2) {
			margin-left: 35px;
		}
		
		.link-store:hover {
			border: 2px solid #2466d3;
		}

		.store-svg {
			width: 50px;
			height: 50px;
			margin-right: 25px;

			fill: #ffffff;
		}

		.name-store {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			color: #ffffff;

			margin-right: 70px;
		}

		.store {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			color: #ffffff;
		}

		.main-content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 100%;
		}

		.categories {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			width: 100%;
			position: relative;
			padding-top: 25px;
		}

		.heading::before {
			content: "";
			display: flex;
			z-index: 5;
			background-image:  url(img/footballer_566.png);
			background-repeat: no-repeat;
			
			width: 565px;
			height: 905px;
			left: 390px;
			top: -85px;
		}

		.heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 80px;
			text-transform: uppercase;
			color: #e7e7e7;

			background-color: #ffffff;
			padding-left: 45px;
			margin-right: 0;
		}

		.athlets {
			display: flex;
			flex-wrap: wrap;
			
		}

		.athlets-number {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 18px;
			color: #000000;

			margin-top: 100px;
			padding-left: 45px;
		}

		.athlets-number::after {
			content: "";
			display: block;
			width: 18px;
			height: 5px;
			background-color: #5e42b0;
			border-radius: 25%;

			margin-left: auto;
			margin-right: auto;
			margin-top: 7px;
			margin-bottom: 35px;
		}

		.athlets-heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 30px;
			text-transform: uppercase;
			color: #c1c1c1;

			margin-top: 100px;
			margin-left: 10px;
		}

		.athlets-text {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 20px;
			color: #000000;
			margin-bottom: 30px;
			
			display: flex;
			flex-wrap: wrap;
		}

		.collaboration {
			display: flex;
			flex-wrap: wrap;
			background-color: #f5f4f9;
		}

		.growth {
			display: flex;
			flex-wrap: wrap;
			background-color: #5e42b0;
		}

		.growth-athlets {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 18px;
			color: #9173e6;

			margin-top: 100px;
			
		}

		.growth-athlets::after {
			content: "";
			display: block;
			width: 18px;
			height: 5px;
			background-color: #ffffff;
			border-radius: 25%;

			margin-left: auto;
			margin-right: auto;
			margin-top: 7px;
			margin-bottom: 35px;
		}
		
		.growth-heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 30px;
			text-transform: uppercase;
			color: #c1c1c1;


			margin-top: 100px;
			margin-left: 10px;
		}

		.growth-text {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 20px;
			color: #c1c1c1;
			margin-bottom: 30px;
			
		}

		.players {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			width: 100%;
			position: relative;
			z-index: 3;
			padding-top: 100px;
		}

		.players::before {
			content: "";
			display: flex;
			position: absolute;
			z-index: 5;
			background-image: url(img/basketballer_991.png);

			width: 1000px;
			height: 815px;
			right: 125px;
			top: 10px;
		}

		.play-heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 80px;
			text-transform: uppercase;
			color: #e7e7e7;

			background-color: #ffffff;
			margin-bottom: 110px;
		}

		.athlets-players {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}

		.players-number {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 18px;
			color: #000000;

			margin-top: 100px;
			
		}

		.players-number::after {
			content: "";
			display: block;
			width: 18px;
			height: 5px;
			background-color: #5e42b0;
			border-radius: 25%;

			margin-left: auto;
			margin-right: auto;
			margin-top: 7px;
			margin-bottom: 35px;
		}
		
		.players-heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 30px;
			text-transform: uppercase;
			color: #c1c1c1;

			margin-top: 100px;
			margin-left: 10px;
		}

		.players-text {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 20px;
			color: #000000;
			margin-bottom: 30px;
		
		}

		.players-growth {
			display: flex;
			flex-wrap: wrap;
			background-color: #0a0e34;

		}

		.growth-players {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 18px;
			color: #c1c1c1;
			
      margin-top: 100px;
			
		}

		.growth-players::after {
		  content: "";
			display: block;
			width: 18px;
			height: 5px;
			background-color: #ffffff;
			border-radius: 25%;

			margin-left: auto;
			margin-right: auto;
			margin-top: 7px;
			margin-bottom: 35px;
		}

		.growth-text-players {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 20px;
			color: #c1c1c1;
			margin-bottom: 30px;
			
		}

		.active {
			display: flex;
			flex-wrap: wrap;
		}

		.be-active {
			display: flex;
			flex-wrap: nowrap;
		}

		.active-img {
			
		}

		.active-block {
			display: block;
			box-sizing: border-box;
			width: 160px;
			height: 160px;
			position: relative;
			z-index: 2;

			background-color: #5e42b0;
			text-align: center;
			padding-top: 60px;
			margin-top: 215px;
			margin-left: -85px;
		}

		.active-number {
			color: #ffffff;
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 25px;
		}

		.active-number::after {
			content: "";
			display: block;
			width: 28px;
			height: 7px;
			background-color: #8f7bc8;
			border-radius: 25%;

			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
		}

		.active-content {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			width: 50vw;
			margin-left: 50px;
		}

		.active-heading {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 80px;
			text-transform: uppercase;

			
			margin-top: 250px;
			color: #e7e7e7;
		}

		.active-text {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 24px;
		
			margin-top: 115px;
			display: flex;
			flex-wrap: wrap;
		}

		.footer {
			background-image: url(img/game_1280.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-color: #ffffff;
			
			display: block;
			position: relative;
			z-index: 1;
			width: 100%;

			padding-top: 225px;
			padding-bottom: 45px;
		}

		.footer::after {
			content: "";
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: #1d2246;
			opacity: 0.9; 
		}

		.footer-content {
			display: flex;
			flex-wrap: nowrap;
			margin: auto;
		}

		.svg {
			width: 100px;
			height: 90px;
			position: relative;
			z-index: 3;
			fill: #ffffff;
		}

		.footer-svg {
			display: block;
			box-sizing: border-box;
			position: relative;
			z-index: 2;
			background-color: #6a4bc2;
			background-size: 140px 165px;
			background-position: center center;
 			border-radius: 15%;
		}

		.text {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			margin-left: 30px;
		}

		.footer-text {
			font-family: OpenSans Bold,Arial,sans-serif;
			font-size: 80px;
			text-transform: uppercase;
			color: #ffffff;

			position: relative;
			z-index: 3;
			margin: auto;
		}

		.footer-logo {
			font-family: OpenSans Regular,Arial,sans-serif;
			font-size: 30px;
			text-transform: uppercase;
			color: #a496ca;

			position: relative;
			z-index: 3;
			margin: auto;
		}

		.footer-svg-text {
			width: 215px;
	  	height: 60px;
	  	fill: #ffffff;
	  	position: relative;
	  	z-index: 3;
	  	margin: auto;
	  }
	}


	
		


		

		
		



 
 



	

