@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');

body {
	font-family: "roboto", sans-serif;
	font-size: 16px;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

	

 @media(max-width: 640px) {
	.header {
		background-image: url("images/img/football_767.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: #ffffff;
		
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.header::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: #1d2246;
		opacity: 0.9; 
	}
	
	.svg-logo {
		display: block;
		position: relative;
		fill: #ffffff;
		width: 135px;
		height: 38px;
		margin-top: 30px;
		margin-bottom: 68px;
		margin-left: auto;
		margin-right: auto;
		z-index: 3;
	}

	.active-img {
		width: 320px;
	}
}
		

		



 
 



